* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Playfair Display", sans-serif;
    padding-top: 60px;
}

.header {
    background-color: rgb(40, 12, 59);
    position: fixed;
    width: 100%;
    top: 0;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    min-height: 70px;
}

.header-content img {
    width: 50px;
    height: auto;
    cursor: pointer;
}

.nav {
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.nav-list {
    display: flex;
    column-gap: 40px;
}

.nav-link {
    color: #fff;
    font-size: 20px;
    position: relative;
    transition: all 0.5s;
    padding: 0 3px;
}

.nav-link:hover {
    color: rgb(214, 214, 214);
} 

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: rgba(174, 84, 235, 0.7);
    visibility: hidden;
    transition: 0.4s ease-in-out;
    pointer-events: none;
}

.nav-link:hover::before, .nav-link.active::before {
    width: 100%;
    visibility: visible;
}

.hamburger {
    display: none;
}

.bar {
    height: 2px;
    width: 27px;
    background: #fff;
    margin: 5px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.navOpen {
    transform: translate(0) !important; 
}

.hamburgerOpen .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.hamburgerOpen .bar:nth-child(2) {
    opacity: 0;   
}

.hamburgerOpen .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);   
}

/* .reveal {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
    transition: all 1s ease;
} */

.hero-container {
    background-color: #fff;
    color: rgb(51, 16, 75);
    padding-bottom: 100px;
} 

.hero-title {
    padding-top: 100px; 
    padding-bottom: 80px;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(40, 12, 59);
    color: #fff;
}

.hero-title h1 {
    font-size: 115px;
    font-weight: bold;
    margin-bottom: -30px;
}

.hero-title h2 {
    font-size: 95px;
    text-align: center;
    font-weight: lighter;
}

.hero-description {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.hero-description p {
    font-size: 25px;
    font-weight: 500;
    margin-top: 40px;
    line-height: 1.5;
    max-width: 600px;
}

.hero-description span {
    background: rgba(135, 31, 204, 0.2);
    padding-top: 0;
    border: none;

}

.social-list {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    font-size: 50px;
}

.social-list li i {
    opacity: 0.6;
    position: relative;
    padding-bottom: 3px;
    transition: all 0.5s;
    cursor: pointer;
}

.social-list li i:hover {
    opacity: 1;
    color: rgb(40, 12, 59);
    transition: 0.5s;
}

.social-list li i::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.2rem;
    left: 0;
    bottom: 0;
    background-color: #b667ff;
    transform: scale(0, 1);
    transition: transform 0.5s ease;
} 

.social-list li i:hover::after {
    transform: scale(1, 1);
}

/* About Section */
.about-container {
    padding: 30px 0 30px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(40, 12, 59);
    background-color: #fff;
}

.about-title {
    /* border-top: 2px solid rgb(119, 37, 173); */
    padding-top: 100px; 
    padding-bottom: 20px;
}

.about-title h3 {
    font-size: 60px;
    color: rgb(53, 15, 78);
    text-align: center;
    margin-bottom: 20px;
}

.about-title p {
    text-align: center;
    font-style: italic;
    font-weight: 600;
    margin: 0 60px;
    color: rgb(53, 15, 78);
    font-size: 25px;
}

.about-title p span {
    background-color: rgba(135, 31, 204, 0.2);
}


.about-cv {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.cv-btn {
    background-color: #e0c3fc;
    padding: 15px;
    border: 1px solid rgb(40, 12, 59);
    border-radius: 20px;
    transition: 0.3s;
    font-weight: bold;
}

.cv-btn:hover {
    box-shadow: 4px 4px 1px rgb(40, 12, 59);
    transition: 0.3s;
}

.about-container .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 35px;
    font-size: 19px;
    margin: 0 60px;
}

.about-content p span {
    font-weight: 600;
}

.about-icons {
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.about-icons img {
    border: 2px solid rgba(121, 112, 128, 0.2);
    width: 90px;
    height: auto;
    border-radius: 50%;
}

.about-item {
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-item h4 {
    text-align: center;
}

.about-item a {
    background-color: rgba(135, 31, 204, 0.2);
    padding: 5px;
    border-radius: 4px;
    text-align: center;
    font-weight: 600;
    transition: 0.5s;
}

.about-item a:hover {
    background-color: rgba(135, 31, 204, 0.4);
    transition: 0.5s;
}

.skillset-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
    color: rgb(57, 16, 85);
    background-color: #fff;
}

.skillset-container h3 {
    text-align: center;
    font-size: 35px;
}

.skillset-content {
    display: flex;
    padding: 30px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.skillset-content p {
    font-size: 18px;
    background-color: rgba(135, 31, 204, 0.2);
    padding: 7px;
    border-radius: 4px;
    border: 1px solid rgb(40, 12, 59);
    transition: 0.4s;
    cursor: pointer;
}

.skillset-content p:hover {
    box-shadow: 4px 4px 1px rgb(40, 12, 59);
    transition: 0.4s;
}

/* Project Section */

.project-wrapper {
    background-color: rgb(40, 12, 59);
}

.project-container {
    padding: 30px 0 100px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(40, 12, 59);
    color: #fff;
}

.project-title {
    padding-top: 80px; 
    padding-bottom: 30px;
    border-top-left-radius: 80%;
    border-top-right-radius: 80%;
    background-color: rgb(40, 12, 59);
    color: #fff;
}

.project-title h3 {
    font-size: 60px;
    /* text-decoration: underline; */
    text-align: center;
    margin-bottom: 20px;
}

.project-title p {
    text-align: center;
    padding: 5px;
    font-size: 23px;
}

.project-title span {
    background: rgba(135, 31, 204, 0.3);
}

.grid {
    padding-top: 30px;
}

.cards {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
}

.card-item {
    box-shadow: 5px 5px 1px rgba(135, 31, 204, 0.5);
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
}

.card-content {
    padding: 0 10px;
    color: rgb(40, 12, 59);
}

.card-item .modal-btn {
    border: none;
    outline: none;
    background-color: none;
}

.card-item img {
    width: 400px;
    height: 300px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.card-item img:hover {
    transform: scale(1.03)

}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid rgba(135, 31, 204, 0.7);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 1px rgba(135, 31, 204, 0.7);
    z-index: 10;
    width: 600px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);   
}

.modal-header {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgba(66, 14, 100, 0.99);
}

.modal-header .modal-title {
    font-size: 29px;
    font-weight: bolder;
    color:  rgb(65, 19, 95);
}

.modal-header .close-btn {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 3rem;
    color: rgb(65, 19, 95);
    font-weight: bolder;
}

.modal-body {
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal-body p {
    font-size: 18px;
    line-height: 1.5;
    color:  rgb(40, 12, 59);
    font-weight: 500;
}

.modal-body span {
    background: rgba(135, 31, 204, 0.2);
    font-weight: bold;
}

.modal-tags {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding: 20px;
}

.modal-tags p {
    background-color: #e0c3fc;
    color: black;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
}

.github-link i {
    padding-bottom: 20px;
    color:  rgb(119, 37, 173);
    font-size: 40px;
    cursor: pointer;
    transition: 0.5s;
}

.github-link i:hover {
    color:  rgb(49, 15, 71);
    transition: 0.5s;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.footer {
    padding: 50px;
    display: flex;
    font-size: 19px;
    justify-content: space-between;
    background-color: rgb(57, 17, 83);
    color: #fff;
    font-weight: 500;
}

.footer-links {
    display: flex;
    gap: 30px;
}

.footer-links a {
    position: relative;
    transition: all 0.5s;
    padding-bottom: 4px;
    cursor: pointer;
}

.footer-links a:hover {
    opacity: 1;
    color: rgb(175, 175, 175);
    transition: 0.5s;
}

.footer-links a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.2rem;
    left: 0;
    bottom: 0;
    background-color: #b667ff;
    transform: scale(0, 1);
    transition: transform 0.5s ease;
} 

.footer-links a:hover::after {
    transform: scale(1, 1);
}

/* Contact Title and Clock */

.contact-container {
    padding: 40px 0 30px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(40, 12, 59);
    background-color: #fff;
    text-align: center;
}

.contact-title {
    padding-bottom: 30px;
}

.contact-title h3 {
    font-size: 60px;
    color: rgb(53, 15, 78);
    margin-bottom: 20px;
}

.contact-title p {
    font-style: italic;
    font-weight: 700;
    margin: 0 60px;
    color: rgb(53, 15, 78);
    font-size: 25px;
}

.contact-container .contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    gap: 5px;
    margin: 0 60px;
}

.contact-content p span {
    font-weight: bold;
}

.contact-clock {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}

.contact-clock p {
    font-size: 20px;
    font-weight: bold;
}

.clock {
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(135, 31, 204, 0.2);
    border: 2px solid rgb(58, 17, 85);
    border-radius: 20px;
    box-shadow: 3px 3px 1px rgb(58, 17, 85);
}

.clock span {
    font-size: 28px;
    display: inline-block;
    position: relative;
}

/* Contact From */

.contact-form-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(135, 31, 204, 0.2);
    border: 1px solid rgb(58, 17, 85);
    box-shadow: 2px 2px 1px rgb(58, 17, 85);
    border-radius: 10px;
    padding: 30px 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.form-name, .form-email, .form-message {
    display: flex;
    flex-direction: column;
}

form label {
    color: rgb(40, 12, 59);
    font-size: 20px;
    text-align: start;
    font-weight: bold;
}

form input, form textarea {
    margin-top: 10px;
    min-width: 500px;
    border: 1px solid rgb(40, 12, 59);
    padding: 10px;
    border-radius: 10px;
    outline: none;
    background-color: #f5f5f5;
    font-size: 16px;
}

form button {
    margin-top: -20px;
    padding: 15px;
    background-color: rgb(40, 12, 59);
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    min-width: 150px;
    margin: 10px auto 0;
    border-radius: 30px;
    transition: 0.3s;
}

form button:hover {
    background-color: rgb(64, 18, 95);
    transition: 0.3s;
}

/* Scroll to top button */
.scroll-to-top {
    display: flex;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.scroll-to-top #scroll-btn {
    color: rgb(42, 12, 59);
    font-size: 40px;
    font-weight: bolder;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.scroll-to-top #scroll-btn:hover {
    transform: translate(0px, -5px);
    color: #8f3ddb;
    transition: 0.5s;
}

.scroll-to-top p {
    font-size: 20px;
    margin-bottom: 30px;
}

.send-msg-container {
    margin: 20px 100px 0;
}

#send-msg {
    color: rgb(40, 12, 59);
    font-weight: bold;
    padding: 20px 0;
}



@media (max-width: 650px) {
    .nav {
        position: fixed;
        top: 60px;
        left: 0;
        background-color: rgb(40, 12, 59);
        width: 100%;
        padding: 10px 0 25px;
        transform: translateX(-100%);
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        row-gap: 30px;
    }

    .nav-link {
        font-size: 24px;
    }

    .hamburger {
        display: block;
    }

    .hero-title h1 {
        font-size: 95px;
    }

    .hero-title h2 {
        font-size: 80px;
    }

    .hero-description p {
        font-size: 23px;
        margin: 30px auto;
        max-width: 450px;
    }

    .contact-container, .project-container, .about-container {
        max-width: 600px;
    }

    .card-item {
        max-width: 400px;
    }

    .card-item img {
        max-width: 300px;
        max-height: 250px;
    }

    .card-item h4 {
        border-bottom: 1px solid gray;
        font-weight: 800;
        font-size: 23px;
    }

    .card-btn {
        padding: 5px 10px;
        margin-top: 10px;
        cursor: pointer;
        font-size: 15px;
        font-weight: 900;
        border-radius: 6px;
    }

    .contact-form-container {
        max-width: 440px;
    }

    form input, form textarea {
        min-width: 350px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
}

@media only screen and (max-width: 450px) {

    .hero-title {
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }

    .hero-title h1 {
        font-size: 80px;
    }

    .hero-title h2 {
        font-size: 70px;
    }

    .hero-description p {
        font-size: 22px;
        margin: 40px;
        max-width: 450px;
    }

    .contact-form-container {
        max-width: 350px;
    }

    form input, form textarea {
        min-width: 300px;
    }

    
}


