* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Playfair Display", sans-serif;
    min-height: 100vh;
    padding-top: 60px;
}

.header {
    background-color: rgb(40, 12, 59);
    position: fixed;
    width: 100%;
    top: 0;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    min-height: 70px;
}

.header-content img {
    width: 50px;
    height: auto;
    cursor: pointer;
}

.nav {
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.nav-list {
    display: flex;
    column-gap: 40px;
}

.nav-link {
    color: #fff;
    font-size: 20px;
    position: relative;
    transition: all 0.5s;
    padding: 0 3px;
}

.nav-link:hover {
    color: rgb(214, 214, 214);
} 

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: rgba(174, 84, 235, 0.7);
    visibility: hidden;
    transition: 0.4s ease-in-out;
    pointer-events: none;
}

.nav-link:hover::before, .nav-link.active::before {
    width: 100%;
    visibility: visible;
}

.hamburger {
    display: none;
}

.bar {
    height: 2px;
    width: 27px;
    background: #fff;
    margin: 5px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.navOpen {
    transform: translate(0) !important;
}

.hamburgerOpen .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.hamburgerOpen .bar:nth-child(2) {
    opacity: 0;   
}

.hamburgerOpen .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);   
}

.hero-container {
    border: 1px solid black;
    background-color: #fff;
    color: rgb(51, 16, 75);
    padding-bottom: 230px;
} 

.hero-title {
    padding-top: 100px; 
    padding-bottom: 80px;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 70%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(40, 12, 59);
    color: #fff;
}

.hero-title h1 {
    font-size: 115px;
    font-weight: bold;
    margin-bottom: -30px;
}

.hero-title h2 {
    font-size: 95px;
    text-align: center;
    font-weight: lighter;
}

.hero-description {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.hero-description p {
    font-size: 25px;
    font-weight: 500;
    margin-top: 40px;
    line-height: 1.5;
    max-width: 600px;
}

.hero-description span {
    background: rgba(135, 31, 204, 0.2);
    padding-top: 0;
    border: none;

}

.social-list {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    font-size: 50px;
}

.social-list li a {
    opacity: 0.6;
    transition: all 0.5s;
    cursor: pointer;
}

.social-list li a:hover {
    opacity: 1;
    color: rgb(40, 12, 59);
    transition: 0.5s;
}

.project-section {
    border: 1px solid black;
    /* background-color: rgba(135, 31, 204, 0.2); */
}

.project-container {
    padding: 30px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    /* background: rgba(135, 31, 204, 0.2); */
    /* color: rgb(44, 11, 66); */
    background-color: rgb(40, 12, 59);
    color: #fff;
}

.project-title h3 {
    font-size: 45px;
    text-decoration: underline;
    /* font-weight: bold; */
    color: #fff;
    /* color: rgb(40, 12, 59); */

}

.grid {
    padding-top: 30px;
}

.cards {
    display: flex;
    gap: 40px;
    margin: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
    cursor: pointer;
}

.card-item {
    gap: 20px;
    box-shadow: 3px 3px 1px;
    text-align: center;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
}

.card-content {
    padding: 0 10px;
    color: rgb(40, 12, 59);
}

.card-item h4 {
    border-bottom: 1px solid gray;
    font-weight: 800;
    font-size: 35px;
}

.card-item img {
    width: 500px;
    height: 400px;
    border-radius: 8px;
}

.card-btn {
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 900;
    border-radius: 6px;
}

#codeBtn1, #codeBtn2, #codeBtn3, #codeBtn4 {
    background-color:#e0c3fc;
    transition: 0.5s;
}

#liveBtn1, #liveBtn2, #liveBtn3, #liveBtn4 {
    background-color: #e0c3fc;
    transition: 0.5s;
}

#codeBtn1:hover, #codeBtn2:hover, #codeBtn3:hover, #codeBtn4:hover {
    background-color: #3098ff;
    transition: 0.5s;
}

#liveBtn1:hover, #liveBtn2:hover, #liveBtn3:hover, #liveBtn4:hover {
    background-color: #b567ff;
    transition: 0.5s;
}

@media (max-width: 650px) {
    .nav {
        position: fixed;
        top: 60px;
        left: 0;
        background-color: rgb(40, 12, 59);
        width: 100%;
        padding: 10px 0 25px;
        transform: translateX(-100%);
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        row-gap: 30px;
    }

    .nav-link {
        font-size: 24px;
    }

    .hamburger {
        display: block;
    }
}
